.add-form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  .input-subtitle {
    color: $color-red;
    text-align: start;
    padding-left: 0.5rem;
    span {
      margin-left: 0.5rem;
      color: $color-dark;
    }
  }
  .input-group {
    margin: 0.5rem auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .new-task-input {
      @include task-input;
    }
    .err-input {
      @include task-input;
      padding: 0.5rem;
      width: 24rem;
      border: 1px solid $color-red;
    }
    .disabled-input {
      @include task-input;
      padding: 0.7rem;
      width: 21rem;
      background-color: $color-light;

      cursor: not-allowed;
    }
    .btn-submit {
      @include lg-btn-style;
      background-color: $color-light;
      height: fit-content;
      width: 25%;
    }
    .disabled-btn {
      @include lg-btn-style;
      cursor: not-allowed;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-light;
      height: fit-content;
      width: 6rem;
      padding: 0.4rem;
    }
  }
  .err-msg {
    text-align: start;
    color: $color-red;
    padding-left: 0.5rem;
    font-size: small;
  }
}
