.filter-result {
  opacity: 1;
  transition: all 0.2s ease-in;
  .info {
    opacity: 1;
    padding: 3rem;
    font-size: large;
    text-align: center;
    transition: all 0.2s ease-in;
  }
}
.filter-result-transition {
  opacity: 0;
  .info-transition {
    padding: 3rem;
    font-size: large;
    text-align: center;
    opacity: 0;
  }
}
