@import "./AddItemInput";
@import "./FilterItem";
@import "./ListItem";

.main-container {
  margin: 2rem auto;
  width: 35rem;
  text-align: start;
  align-items: center;
  .content-wrapper {
    padding: 1.5rem;
    border: 1px solid $color-light;
    .heading {
      margin-top: 0.5rem;
    }
  }
}
